# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__ 
* List popular languages in data science
* List commonly used libraries used by data scientists
* introduce yourself to jupyternotebook
* Understanding GitHub

#### Some of the popular languages that Data Scientists use are:
##### 1.R
##### 2.Python
##### 3.Scala

#### Some of the commonly used libraries used by Data Scientists include:
##### 1.Numpy
##### 2.Matplotlib
##### 3.Pandas

##
|Data Science Tools|
|------------------|
|Apache Spark|
|TensorFlow|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [17]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [19]:
200/60
# Insert a comment line before the expression to explain the operation e.g. This will convert 200 minutes to hours by diving by 60.

3.3333333333333335